<h3><%= @main_post.created_at %> - Сообщение № <%= @main_post.id %></h3>

<dl class="dl-horizontal" >
		<dt>
			<%= @main_post.autor %>
		</dt>
		<dd>
			<p><%= @main_post.created_at %></p>
			<p><%= @main_post.content %></p>
		</dd>
		<hr />
</dl>
