<h3><%= @main_post.created_at %> - Сообщение № <%= @main_post.id %></h3>

<dl class="dl-horizontal" >
		<dt>
			<%= @main_post.autor %>
		</dt>
		<dd>
			<p><%= @main_post.created_at %></p>
			<p><%= @main_post.content %></p>
		</dd>
		<hr />
</dl>


<h3>Ваш коментарий к сообщению: </h3>

<form action="/comm/<%= @main_post.id %>" method="POST" >

	<div class="form-group">
    	<label for="exampleInputName2">Ваше имя:</label>
    	<input name="message[autor]" type="text" class="form-control" id="exampleInputName2" placeholder="Михаил Михаилович">
  	</div>
		
	<textarea name="message[content]" class="form-control" rows="6" placeholder="Вводите Ваш текст коментария к сообщению здесь"></textarea>
	
	<br /> 	
   	<button type="submit" class="btn btn-primary"><b>Отправить коментарий</b></button>

</form>

<br />
<div>
	<p>
		...
	</p>
</div>