It's postview.erb page.
<h2></h2>
<p>
	<% @post_all.each do |post_item| %>
		<dl class="dl-horizontal" >
  			<dt>
  				<%= post_item.autor %>
  			</dt>
  			<dd>
  				<p><%= post_item.created_at %></p>
  				<p><%= post_item.content %></p>
				<a href="/comm/<%= post_item['id'] %>"> Коментарии (<%= @mes_by[post_item.id] %>) </a>
  			</dd>
  			<hr />
		</dl>
	<% end %>
</p>